<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">

        <div class="navbar-nav flex-row ms-auto">

            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset" data-bs-toggle="dropdown">

                    <span class="avatar avatar-sm">
                        I
                    </span>

                    <div class="d-none d-xl-block ps-2">
                        <div>Imad</div>
                        <div class="mt-1 small text-secondary">
                            Administrator
                        </div>
                    </div>

                </a>

                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

                    <a href="#" class="dropdown-item">
                        Mon profil
                    </a>

                    <a href="/admin/" class="dropdown-item">
                        Administration
                    </a>

                    <div class="dropdown-divider"></div>

                    <a href="#" class="dropdown-item">
                        Déconnexion
                    </a>

                </div>

            </div>

        </div>

    </div>
</header>