<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">

        <h1 class="navbar-brand text-white mt-3 mb-4">
            PAB
        </h1>

        <div class="navbar-nav">

            <div class="nav-item">
                <a class="nav-link active" href="/">
                    <span class="nav-link-title">
                        🏠 Dashboard
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        🏢 Companies
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📄 Documents
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📥 Imports
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📊 Reports
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        ⚙️ Settings
                    </span>
                </a>
            </div>

        </div>

    </div>
</aside>