<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">

        <h1 class="navbar-brand text-white mt-3 mb-4">
            PAB
        </h1>

        <div class="navbar-nav">

            <div class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                   href="{% url 'home' %}">
                    <span class="nav-link-title">
                        🏠 Tableau de bord
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link {% if request.resolver_match.namespace == 'companies' %}active{% endif %}"
                   href="{% url 'companies:list' %}">
                    <span class="nav-link-title">
                        🏢 Sociétés
                    </span>
                </a>
            </div>

            {% if active_company_membership.role == "ADMIN" %}
            <div class="nav-item">
                <a class="nav-link {% if request.resolver_match.namespace == 'accounts' and request.resolver_match.url_name != 'company_select' %}active{% endif %}"
                   href="{% url 'accounts:membership_list' %}">
                    <span class="nav-link-title">
                        👥 Membres
                    </span>
                </a>
            </div>
            {% endif %}

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📄 Documents
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📥 Imports
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        📊 Rapports
                    </span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-title">
                        ⚙️ Paramètres
                    </span>
                </a>
            </div>

        </div>

    </div>
</aside>
