<div class="col-md-2 bg-light min-vh-100 border-end">

    <div class="pt-4">

        <div class="list-group list-group-flush">

            <a href="/"
               class="list-group-item">

                <i class="bi bi-speedometer2"></i>

                Dashboard

            </a>

            <a href="/companies/"
               class="list-group-item">

                <i class="bi bi-buildings"></i>

                Companies

            </a>

            <a href="/documents/"
               class="list-group-item">

                <i class="bi bi-folder2-open"></i>

                Documents

            </a>

            <a href="/imports/"
               class="list-group-item">

                <i class="bi bi-cloud-arrow-up"></i>

                Imports

            </a>

        </div>

    </div>

</div>